.timeline-container {
    margin: 0 auto;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: larger;

  }
  
  .timeline-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  /* .timeline-line {
    position: relative;
    border-left: 0px solid #ccc;
    padding-left: 2rem;
  } */
  
  .timeline-item {
    position: relative;
    margin-bottom: 2rem;
  }
  
  /* .timeline-dot {
    position: absolute;
    left: -9px;
    top: 6px;
    width: 14px;
    height: 14px;
    background-color: #007bff;
    border-radius: 50%;
  }
   */
  .timeline-content h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .timeline-date {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-left: 10px;
  }
  
  .timeline-tags {
    margin-top: 0.5rem;
  }
  
  .timeline-tag {
    display: inline-block;
    background-color: #e0f0ff;
    color: #008000;
    padding: 3px 8px;
    margin: 2px;
    border-radius: 12px;
    font-size: 0.8rem;
  }
  